<!-- 宠物资讯列表首页 -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon name="arrow-bacK" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label>宠物资讯</ion-label>
  </ion-toolbar>
</ion-header>
<!-- 宠物资讯首页 -->
<ion-content>
  <ion-card *ngFor="let item of news" detail="true">
      <img [src]="url.host+item.pic">
      <ion-card-header>
        <ion-card-title>{{item.title}}</ion-card-title>
        <ion-card-subtitle>
          发表时间:{{item.showday|date:'yyyy-MM-dd'}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;阅读量:{{item.nums}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-label>{{item.details}}</ion-label>
        <ion-button color="medium" size="small" [routerLink]="'/more-knowledge/'+item.title">观看全文</ion-button>
      </ion-card-content>
  </ion-card>
  <!-- 无限滚动 -->
  <ion-infinite-scroll *ngIf="hasMore; else noMore" threshold="30px" (ionInfinite)="loadMore()" #myScroll>
    <ion-infinite-scroll-content loadingText="加载中,请稍候..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ng-template #noMore>
    <ion-button color="light" disabled="true" expand="block">实时资讯正在更新,敬请关注!</ion-button> 
  </ng-template>
</ion-content>