.myAd{
    color:#ff5251;
    font-size: 12px;
}
.myPrice{
    font-size:18px;
    color:#fa52d1;
    font-weight: bold;
    // margin:0;
    padding-left: 20px;
    // padding-right:15px
}
.myCount{
    font-size: 14px;
}