<!-- 标签页组件 -->
<ion-tabs>
  <ion-tab-bar  slot="bottom">
    <!-- 首页标签按钮 -->
    <ion-tab-button tab="index">
      <ion-icon name="home"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>
    <!-- 商品列表标签按钮 -->
    <ion-tab-button tab="product-list">
      <ion-icon name="list"></ion-icon>
      <ion-label>商品</ion-label>
    </ion-tab-button>
    <!-- 宠物知识标签按钮 -->
    <ion-tab-button tab="about-cat">
      <ion-icon name="book"></ion-icon>
      <ion-label>喵窝</ion-label>
    </ion-tab-button>
    <!-- 用户标签按钮 -->
    <ion-tab-button tab="user-login">
      <ion-icon name="person"></ion-icon>
      <ion-label>用户</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
















